<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.hashbnm.razorpayplugin">
    <application>
        <activity
                android:name=".RazorpayActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|navigation"></activity>
    </application>
</manifest>
